@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.ant-modal,
.ant-modal-content {
  height: auto;
  width: 100vw;
  margin: 0;
  top: 0;
}
.ant-modal-body {
  height: fit-content;
}
